PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE vehicle_trips (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            vehicle_id TEXT NOT NULL,
            vehicle_name TEXT,
            destination_lat REAL,
            destination_lng REAL,
            destination_name TEXT,
            pickup_lat REAL,
            pickup_lng REAL,
            pickup_name TEXT,
            customer_name TEXT,
            last_known_eta REAL,
            last_known_distance REAL,
            vehicle_type TEXT,
            status TEXT DEFAULT 'queued',
            queue_order INTEGER DEFAULT 0,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        , phase TEXT, completed_at TIMESTAMP, driver_name TEXT, waypoints TEXT, canceled_at TIMESTAMP, cancel_reason TEXT);
CREATE TABLE geofence_events (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            vehicle_id TEXT NOT NULL,
            vehicle_name TEXT,
            trip_id INTEGER,
            event_type TEXT NOT NULL,
            location_name TEXT NOT NULL,
            lat REAL,
            lng REAL,
            phase INTEGER,
            created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
CREATE TABLE oil_maintenance (
            id                   INTEGER PRIMARY KEY AUTOINCREMENT,
            license_plate        TEXT    NOT NULL UNIQUE,
            last_oil_change_km   INTEGER NOT NULL DEFAULT 0,
            last_oil_change_date TEXT    NOT NULL,
            maintenance_interval INTEGER NOT NULL DEFAULT 5000,
            created_at           TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at           TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO oil_maintenance VALUES(1,'50H-94776',0,'2026-06-29',5000,'2026-07-24 07:09:27','2026-07-24 07:09:27');
CREATE TABLE oil_km_log (
            id            INTEGER PRIMARY KEY AUTOINCREMENT,
            license_plate TEXT NOT NULL,
            log_date      TEXT NOT NULL,
            km            INTEGER NOT NULL DEFAULT 0,
            fetched_at    TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            UNIQUE(license_plate, log_date)
        );
INSERT INTO oil_km_log VALUES(1,'50H-94776','2026-07-23',1803,'2026-07-24 07:20:58');
CREATE TABLE fuel_log (
            id              INTEGER PRIMARY KEY AUTOINCREMENT,
            license_plate   TEXT    NOT NULL,
            log_date        TEXT    NOT NULL,
            log_time        TEXT    NOT NULL,
            gas_store       TEXT    NOT NULL DEFAULT '',
            old_km          INTEGER NOT NULL DEFAULT 0,
            new_km          INTEGER NOT NULL DEFAULT 0,
            liters          REAL    NOT NULL DEFAULT 0,
            driver_name     TEXT    NOT NULL DEFAULT '',
            unit_price      REAL    DEFAULT NULL,
            notes           TEXT    DEFAULT '',
            is_full_tank    INTEGER NOT NULL DEFAULT 1,
            created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        , vehicle_id INTEGER DEFAULT NULL);
INSERT INTO fuel_log VALUES(1,'50H-09473','2026-06-23','06:59','54',218597,218942,85.128,'Mai V─ân Tuß║Ñn',23530.0,'',1,'2026-07-22 04:20:27',39);
INSERT INTO fuel_log VALUES(2,'50H-94275','2026-06-23','09:15','54',417798,418354,61.005,'H├á Xu├ón Anh',23530.0,'',1,'2026-07-22 04:21:08',14);
INSERT INTO fuel_log VALUES(3,'50H-94819','2026-06-23','10:06','28',465445,466117,76.272,'Nguyß╗àn Thanh Giang',25830.0,'',1,'2026-07-22 04:21:57',18);
CREATE TABLE fuel_vehicle_profile (
            license_plate       TEXT PRIMARY KEY,
            normal_l_per_100km  REAL NOT NULL DEFAULT 10.0,
            anomaly_multiplier  REAL DEFAULT NULL,
            updated_at          TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO fuel_vehicle_profile VALUES('50H-36908',10.5,1.2,'2026-07-22 07:01:13');
INSERT INTO fuel_vehicle_profile VALUES('50H-79107',10.3,1.2,'2026-07-26 14:37:26');
CREATE TABLE vehicles (
            id              INTEGER PRIMARY KEY AUTOINCREMENT,
            plate_number    TEXT NOT NULL UNIQUE,
            vehicle_type    TEXT NOT NULL DEFAULT '',
            current_driver  TEXT NOT NULL DEFAULT '',
            created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        , container_config_id INTEGER DEFAULT NULL, gross_weight_kg INTEGER DEFAULT NULL, overall_height_mm INTEGER DEFAULT NULL, overall_width_mm INTEGER DEFAULT NULL, overall_length_mm INTEGER DEFAULT NULL, axle_load_kg INTEGER DEFAULT NULL);
INSERT INTO vehicles VALUES(8,'50H-93571','1.5 Tons','','2026-07-18 07:26:35','2026-07-31 16:54:37',4,2820,NULL,NULL,NULL,NULL);
INSERT INTO vehicles VALUES(9,'50H-93997','1.5 Tons','CUONG','2026-07-18 07:27:31','2026-07-31 16:54:37',5,3605,NULL,NULL,NULL,NULL);
INSERT INTO vehicles VALUES(10,'50E-18820','1.5 Tons','MR D','2026-07-18 07:29:19','2026-07-31 16:54:37',6,3605,NULL,NULL,NULL,NULL);
CREATE TABLE vehicle_types (
            id   INTEGER PRIMARY KEY AUTOINCREMENT,
            name TEXT NOT NULL UNIQUE
        );
INSERT INTO vehicle_types VALUES(2,'1.5 Tons');
INSERT INTO vehicle_types VALUES(5,'5 Tons');
INSERT INTO vehicle_types VALUES(6,'8 Tons');
CREATE TABLE container_configs (
            id                INTEGER PRIMARY KEY AUTOINCREMENT,
            name              TEXT NOT NULL DEFAULT '',
            cargo_length_mm   REAL NOT NULL,
            cargo_width_mm    REAL NOT NULL,
            cargo_height_mm   REAL NOT NULL,
            payload_kg        REAL NOT NULL DEFAULT 0,
            created_at        TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at        TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO container_configs VALUES(1,'Standard 2.5 tons',4285.0,1850.0,1810.0,1600.0,'2026-07-17 06:47:17','2026-07-17 07:38:57');
INSERT INTO container_configs VALUES(2,'1.5 Tons',3400.0,1650.0,1700.0,1100.0,'2026-07-18 03:57:59','2026-07-18 07:02:58');
INSERT INTO container_configs VALUES(3,'1.5 Tons variation 1',3350.0,1650.0,1650.0,1000.0,'2026-07-18 06:51:03','2026-07-18 06:51:03');
CREATE TABLE container_features (
            id                  INTEGER PRIMARY KEY AUTOINCREMENT,
            container_config_id INTEGER NOT NULL REFERENCES container_configs(id),
            feature_type        TEXT NOT NULL,
            label               TEXT NOT NULL DEFAULT '',
            geometry_json       TEXT NOT NULL DEFAULT '{}',
            created_at          TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO container_features VALUES(9,1,'rear_door','Rear Door','{"width_mm": 1720, "height_mm": 1685}','2026-07-17 07:38:57');
INSERT INTO container_features VALUES(11,3,'rear_door','Rear Door','{"width_mm": 1530, "height_mm": 1530}','2026-07-18 06:51:03');
INSERT INTO container_features VALUES(13,2,'rear_door','Rear Door','{"width_mm": 1530, "height_mm": 1530}','2026-07-18 07:02:58');
CREATE TABLE tlp_packages (
            id               INTEGER PRIMARY KEY AUTOINCREMENT,
            name             TEXT NOT NULL,
            length           REAL NOT NULL,
            width            REAL NOT NULL,
            height           REAL NOT NULL,
            weight_kg        REAL NOT NULL,
            allow_stacking   INTEGER DEFAULT 0,
            allow_rotation   INTEGER DEFAULT 0,
            fragile          INTEGER DEFAULT 0,
            color            TEXT DEFAULT '#3b82f6',
            created_at       TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at       TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        , default_qty INTEGER DEFAULT 1, max_top_weight_kg REAL DEFAULT 0, max_stack_layers INTEGER DEFAULT 0);
INSERT INTO tlp_packages VALUES(45,'LCS 560-2/5B/17.5┬░',700.0,680.0,700.0,96.0,0,1,0,'#3b82f6','2026-07-30 10:01:20','2026-07-30 10:01:20',1,0.0,0);
INSERT INTO tlp_packages VALUES(46,'LCS 1000-4/12TXA/12.5┬░',1000.0,1200.0,1200.0,291.0,0,1,0,'#ef4444','2026-07-30 10:01:40','2026-07-30 10:01:40',1,0.0,0);
INSERT INTO tlp_packages VALUES(47,'LCS 900-4/12TXA/17.5┬░',940.0,1060.0,1110.0,205.0,0,1,0,'#10b981','2026-07-30 10:02:00','2026-07-30 10:02:00',1,0.0,0);
CREATE TABLE tlp_shipments (
            id                INTEGER PRIMARY KEY AUTOINCREMENT,
            customer_name     TEXT NOT NULL,
            reference_number  TEXT,
            notes             TEXT,
            created_at       TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at       TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO tlp_shipments VALUES(2,'TEST','SET','SET','2026-07-17 08:41:33','2026-07-17 08:41:33');
CREATE TABLE tlp_shipment_items (
            id            INTEGER PRIMARY KEY AUTOINCREMENT,
            shipment_id   INTEGER NOT NULL REFERENCES tlp_shipments(id),
            package_id    INTEGER NOT NULL REFERENCES tlp_packages(id),
            quantity      INTEGER NOT NULL DEFAULT 1,
            notes         TEXT,
            created_at   TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
CREATE TABLE tlp_load_plans (
            id           INTEGER PRIMARY KEY AUTOINCREMENT,
            name         TEXT,
            vehicle_id   INTEGER,
            shipment_id  INTEGER REFERENCES tlp_shipments(id),
            planner      TEXT,
            notes        TEXT,
            status       TEXT DEFAULT 'draft',
            created_at  TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
            updated_at  TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO tlp_load_plans VALUES(1,'Manual Test - 50H-93571',8,NULL,'manual_test','','draft','2026-07-20 04:49:07','2026-07-20 04:49:07');
INSERT INTO tlp_load_plans VALUES(2,'Manual Test - 50H-93997',9,NULL,'manual_test','','draft','2026-07-20 04:49:07','2026-07-20 04:49:07');
INSERT INTO tlp_load_plans VALUES(3,'Manual Test - 50E-18820',10,NULL,'manual_test','','draft','2026-07-20 04:49:07','2026-07-20 04:49:07');
CREATE TABLE tlp_placements (
            id                INTEGER PRIMARY KEY AUTOINCREMENT,
            load_plan_id      INTEGER NOT NULL REFERENCES tlp_load_plans(id),
            shipment_item_id  INTEGER REFERENCES tlp_shipment_items(id),
            package_id        INTEGER NOT NULL REFERENCES tlp_packages(id),
            x                 REAL NOT NULL,
            y                 REAL NOT NULL,
            z                 REAL NOT NULL,
            rotation          INTEGER DEFAULT 0,
            stack_level       INTEGER DEFAULT 0,
            load_sequence     INTEGER,
            created_at       TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO tlp_placements VALUES(1,1,NULL,0,0.0,0.0,0.0,90,0,1,'2026-07-20 04:49:07');
INSERT INTO tlp_placements VALUES(2,1,NULL,0,950.0,0.0,0.0,90,0,2,'2026-07-20 04:49:07');
INSERT INTO tlp_placements VALUES(3,1,NULL,0,1900.0,0.0,0.0,0,0,3,'2026-07-20 04:49:07');
CREATE TABLE sync_history (
            id              INTEGER PRIMARY KEY AUTOINCREMENT,
            fetched_rows    INTEGER NOT NULL DEFAULT 0,
            inserted_rows   INTEGER NOT NULL DEFAULT 0,
            duplicate_rows  INTEGER NOT NULL DEFAULT 0,
            failed_rows     INTEGER NOT NULL DEFAULT 0,
            duration_sec    REAL    NOT NULL DEFAULT 0,
            status          TEXT    NOT NULL DEFAULT 'success',
            error_message   TEXT    DEFAULT NULL,
            created_at      TIMESTAMP DEFAULT CURRENT_TIMESTAMP
        );
INSERT INTO sync_history VALUES(1,257,0,257,0,2.21,'success',NULL,'2026-07-22 04:51:14');
INSERT INTO sync_history VALUES(2,257,0,257,0,3.14,'success',NULL,'2026-07-22 05:11:36');
INSERT INTO sync_history VALUES(3,257,0,257,0,3.1,'success',NULL,'2026-07-22 05:21:40');
CREATE TABLE drivers (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    phone TEXT DEFAULT '',
    license_number TEXT DEFAULT '',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO drivers VALUES(1,'Test Driver','0901234567','','2026-07-26 15:11:27','2026-07-26 15:11:27');
INSERT INTO drivers VALUES(2,'Test Driver','0901234567','','2026-07-26 15:12:19','2026-07-26 15:12:19');
CREATE TABLE delivery_plans (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    plan_name TEXT NOT NULL,
    plan_date DATE NOT NULL,
    description TEXT DEFAULT '',
    status TEXT DEFAULT 'draft',
    imported_at TIMESTAMP,
    created_by TEXT DEFAULT '',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO delivery_plans VALUES(5,'SINO_01_08_2026','2026-08-01','','completed',NULL,'dispatcher','2026-07-31 04:36:47','2026-08-02T23:00:57.287939');
INSERT INTO delivery_plans VALUES(6,'SINO_03_08_2026','2026-08-03','','completed',NULL,'dispatcher','2026-08-02 16:56:21','2026-08-03T11:54:08.328504');
INSERT INTO delivery_plans VALUES(7,'SINO_04_08','2026-08-04','','confirmed',NULL,'dispatcher','2026-08-03 09:41:57','2026-08-03T16:41:57.860360');
CREATE TABLE vehicle_assignments (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    plan_id INTEGER NOT NULL REFERENCES delivery_plans(id) ON DELETE CASCADE,
    vehicle_id INTEGER NOT NULL REFERENCES vehicles(id),
    driver_id INTEGER REFERENCES drivers(id),
    sequence INTEGER NOT NULL DEFAULT 0,
    notes TEXT DEFAULT '',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
, driver_name_override TEXT DEFAULT '');
INSERT INTO vehicle_assignments VALUES(8,5,20,NULL,0,'','2026-07-31 04:36:47','');
INSERT INTO vehicle_assignments VALUES(9,5,25,NULL,1,'','2026-07-31 04:36:47','');
INSERT INTO vehicle_assignments VALUES(10,5,21,NULL,2,'','2026-07-31 04:36:47','');
CREATE TABLE delivery_plan_stops (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    vehicle_assignment_id INTEGER NOT NULL REFERENCES vehicle_assignments(id) ON DELETE CASCADE,
    planned_sequence INTEGER NOT NULL DEFAULT 0,
    station_code TEXT DEFAULT '',
    station_name TEXT DEFAULT '',
    address TEXT DEFAULT '',
    lat REAL,
    lng REAL,
    manager_name TEXT DEFAULT '',
    manager_phone TEXT DEFAULT '',
    product_description TEXT DEFAULT '',
    note TEXT DEFAULT '',
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO delivery_plan_stops VALUES(20,8,0,'AGTC19','AGTC19','Sß╗æ 13 ß║ñp 5, X├ú V─⌐nh X╞░╞íng, An Giang',10.90337,105.1688,'L├¬ Tr├¡ Nh├ón','909497791','Newbuild 5G Single 2.6 32T',unistr('─Éß╗â ─æ╞░ß╗úc trong ph├▓ng m├íy thiß║┐t bß╗ï\u0009Kh├┤ng c├│ kh├│ kh─ân\u0009Mang v├íc vß║¡n chuyß╗ân b├¼nh th╞░ß╗¥ng (thß╗º c├┤ng)\u0009Thu├¬ xe gß║»n m├íy'),'2026-07-31 04:36:47');
INSERT INTO delivery_plan_stops VALUES(21,8,1,'AGTC04','AGTC04','ß║ñp 3, X├ú V─⌐nh X╞░╞íng, An Giang',10.89391,105.1806,'L├¬ Tr├¡ Nh├ón','909497791','Newbuild 5G Single 2.6 32T',unistr('─Éß╗â ─æ╞░ß╗úc trong ph├▓ng m├íy thiß║┐t bß╗ï\u0009Kh├┤ng c├│ kh├│ kh─ân\u0009Mang v├íc vß║¡n chuyß╗ân b├¼nh th╞░ß╗¥ng (thß╗º c├┤ng)\u0009Xe tß║úi tß╗¢i trß║ím, bß╗æc v├áo 100m'),'2026-07-31 04:36:47');
INSERT INTO delivery_plan_stops VALUES(22,8,2,'AGTC14','AGTC14','340 tß╗ò 5, ß║ñp V─⌐nh Thß║ính A, X├ú V─⌐nh X╞░╞íng, An Giang',10.8642,105.1828,'L├¬ Tr├¡ Nh├ón','909497791','Newbuild 5G Single 2.6 32T',unistr('─Éß╗â ─æ╞░ß╗úc trong ph├▓ng m├íy thiß║┐t bß╗ï\u0009Kh├┤ng c├│ kh├│ kh─ân\u0009Mang v├íc vß║¡n chuyß╗ân b├¼nh th╞░ß╗¥ng (thß╗º c├┤ng)'),'2026-07-31 04:36:47');
CREATE TABLE stop_executions (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stop_id INTEGER NOT NULL REFERENCES delivery_plan_stops(id) ON DELETE CASCADE,
    execution_sequence INTEGER NOT NULL DEFAULT 0,
    status TEXT DEFAULT 'planned',
    skip_reason TEXT DEFAULT '',
    cancel_reason TEXT DEFAULT '',
    actual_arrival_at TIMESTAMP,
    actual_departure_at TIMESTAMP,
    completed_at TIMESTAMP,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    updated_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
INSERT INTO stop_executions VALUES(20,20,0,'completed','','','2026-08-01T07:22:15.376916','2026-08-01T07:22:28.423678','2026-08-01T07:22:28.423678','2026-07-31 04:36:47','2026-08-01T07:22:28.423678');
INSERT INTO stop_executions VALUES(21,21,1,'completed','','','2026-08-01T10:08:26.276956','2026-08-01T10:08:37.113236','2026-08-01T10:08:37.113236','2026-07-31 04:36:47','2026-08-01T10:08:37.113236');
INSERT INTO stop_executions VALUES(22,22,2,'completed','','','2026-08-01T10:24:50.397279','2026-08-01T10:24:55.584317','2026-08-01T10:24:55.584317','2026-07-31 04:36:47','2026-08-01T10:24:55.584317');
CREATE TABLE delivery_stop_images (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stop_id INTEGER NOT NULL REFERENCES delivery_plan_stops(id) ON DELETE CASCADE,
    category TEXT NOT NULL DEFAULT 'extra',
    filename TEXT NOT NULL,
    relative_path TEXT NOT NULL,
    original_filename TEXT DEFAULT '',
    gps_lat REAL,
    gps_lng REAL,
    captured_at TIMESTAMP,
    uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    uploaded_by TEXT DEFAULT ''
);
INSERT INTO delivery_stop_images VALUES(1,56,'unload','1785750829-ee726bc0.jpg','DeliveryPlans\2026\08\04\50H-94819\CTTL19\unload\1785750829-ee726bc0.jpg','1785741062179_3160884005376514663_g7227513597839869431_c0d767d6a45ceb26aef9020b5ed8dec2.jpg',NULL,NULL,NULL,'2026-08-03 09:53:49','');
INSERT INTO delivery_stop_images VALUES(2,56,'unload','1785750829-2c90072c.jpg','DeliveryPlans\2026\08\04\50H-94819\CTTL19\unload\1785750829-2c90072c.jpg','1785741062385_3160884005376514663_g7227513597839869431_9d35b40889b24b6bbb65edf353049782.jpg',NULL,NULL,NULL,'2026-08-03 09:53:49','');
INSERT INTO delivery_stop_images VALUES(3,56,'unload','1785750829-25e336c4.jpg','DeliveryPlans\2026\08\04\50H-94819\CTTL19\unload\1785750829-25e336c4.jpg','1785741062567_3160884005376514663_g7227513597839869431_cc16d0233016192fdfce2cd7b742caf0.jpg',NULL,NULL,NULL,'2026-08-03 09:53:49','');
CREATE TABLE stop_status_events (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    stop_id INTEGER NOT NULL REFERENCES delivery_plan_stops(id) ON DELETE CASCADE,
    from_status TEXT NOT NULL DEFAULT '',
    to_status TEXT NOT NULL,
    action TEXT NOT NULL,
    reason TEXT NOT NULL DEFAULT '',
    occurred_at TIMESTAMP NOT NULL
);
INSERT INTO stop_status_events VALUES(1,39,'arrived','completed','advance','finished long time ago','2026-08-02T23:00:46.362723');
INSERT INTO stop_status_events VALUES(2,35,'arrived','completed','advance','done long time ago','2026-08-02T23:00:57.283621');
INSERT INTO stop_status_events VALUES(3,48,'planned','arrived','advance','','2026-08-03T07:37:27.116830');
CREATE TABLE delivery_day_images (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    day_date TEXT NOT NULL,
    category TEXT NOT NULL,
    label TEXT NOT NULL DEFAULT '',
    filename TEXT NOT NULL,
    relative_path TEXT NOT NULL,
    original_filename TEXT DEFAULT '',
    uploaded_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
PRAGMA writable_schema=ON;
CREATE TABLE IF NOT EXISTS sqlite_sequence(name,seq);
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('vehicle_types',13);
INSERT INTO sqlite_sequence VALUES('vehicles',4851);
INSERT INTO sqlite_sequence VALUES('container_configs',35);
CREATE INDEX idx_vehicle_assignments_plan ON vehicle_assignments(plan_id);
CREATE INDEX idx_vehicle_assignments_vehicle ON vehicle_assignments(vehicle_id);
CREATE INDEX idx_delivery_plan_stops_assignment ON delivery_plan_stops(vehicle_assignment_id);
CREATE INDEX idx_stop_executions_stop ON stop_executions(stop_id);
CREATE UNIQUE INDEX idx_stop_executions_unique ON stop_executions(stop_id);
CREATE INDEX idx_delivery_stop_images_stop ON delivery_stop_images(stop_id);
CREATE INDEX idx_stop_status_events_stop ON stop_status_events(stop_id, id);
CREATE INDEX idx_delivery_day_images_day ON delivery_day_images(day_date);
PRAGMA writable_schema=OFF;
COMMIT;
